.box {
    margin:3px;
    border:1px solid #444;;
    padding:10px;
}

.hidden {
    display:none;
}

.leftPadded { padding-left:10px;}

.chart {
     margin:3px;
    border:1px solid #444;
    padding:10px;
}

body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar  {
    border-radius: 0px !important;
}

@media (min-width: 1200px) {
.container {
    width: 100% !important;
}
}

.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.panel-default > .panel-heading-custom {
 height:50px;
}

.form-group-close {
  margin-bottom:1px !important;
}
